html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #eaeae2;
  background-image: linear-gradient(#323232, #2c2c2c);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #cacac2;
}

* {
  box-sizing: border-box;
}
